<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >


    <main id="app" class="container">
        <section class="page_wrap">
            <div class="contact">
                <!-- TOOLBAR PERSONALE UTENTE -->
                <div class="toolbar">
                    <div class="user_profile">
                        <div class="user_pic">
                            <div class="user_img_wrapper">
                                <img src="img/immagine_profilo.jpg" alt="">
                            </div>
                            <h4>Giovanni</h4>
                        </div>
    
                        <div class="user_icon">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                    <div class="note_alert">
                        <div class="bell_wrap">
                            <i class="fa-regular fa-bell-slash"></i>
                        </div>
                        <div class="note_text">
                            <p>Ricevi notifiche dai nuovi utenti</p>
                            <p class="underlined">Attiva notifiche desktop</p>
                        </div>
                    </div> 
                    
                    <div class="search_bar">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Cerca o inizia una nuova chat">
                    </div>
                </div>

                <div class="contacts">
                    <ul class="contacts_list">
                        <li class="contacts_item" v-for="(user,i) in contacts">
                            <div class="contacts_profile_wrapper">
                                <img src="img/immagine_profilo.jpg" alt="">
                                
                            </div>
                            <div class="user_data">
                                <p class="user_details">{{contacts[i].name}}</p>
                                <p class="user_message" v-for="(message,i) in contacts[i].messages">{{message.text}}</p>
                            </div>

                            <div class="time" v-for="(message,i) in contacts[i].messages">{{message.date[text]}}>
                                
                            </div>
                        </li>
                    </ul>
                </div>

                
            </div>
            <div class="chat">

            </div>
        </section>
    </main>










    <script src="js/app.js"></script>
</body>
</html>